.padraoFundo{
 
    width: 100%;
    height: 100vh;
    --s: 150px;
    --c1: rgba(178, 178, 178);
    --c2: rgba(255, 255, 255);
    --c3: rgba(217, 217, 217);
  
    --_g: var(--c3) 0 120deg, #0000 0;
    background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
      conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
      conic-gradient(
        from 60deg at calc(200% / 3),
        var(--c3) 60deg,
        var(--c2) 0 120deg,
        #0000 0
      ),
      conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
      linear-gradient(
        90deg,
        var(--c1) calc(100% / 6),
        var(--c2) 0 50%,
        var(--c1) 0 calc(500% / 6),
        var(--c2) 0
      );
    background-size: calc(1.732 *  var(--s)) var(--s);
    position: relative;
    z-index: 1;
  }

  .gradienteFundo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    z-index: 2;
  }

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 60%;
    background-color: #F3F4F6;
    border-radius: 10px;
    flex-direction: row !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.173);
    z-index: 999;
}

.form img{
    width: 70%;
    height: 70%;
    border-radius: 10px 0 0 10px;
    filter: drop-shadow(8px 8px 15px rgba(0, 0, 0, 0.7));
}


.form h2{
  color: rgb(51, 0, 255);
  text-decoration: underline;
  cursor: pointer;
}


.imgForm{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    flex-direction: column;
}

.voltar{
    position: absolute;
    z-index: 3;
    margin: 2%;
}

.voltar svg{
  cursor: pointer;
  transition: 0.2s;
}

.voltar svg:hover{
  scale: 1.1;
  transition: 0.2s;
}






.camposForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

.camposForm .wave-group, .btnLogin{
    margin: 4% 0;
}

.camposForm h1{
    font-size: 1.5rem;
    color: #2C2D5B;
    font-weight: 600;
    border-bottom: #DE6600 4px solid;
    margin-bottom: 8%;
}

.wave-group {
    position: relative;
  }
  
  .wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 320px;
    border: none;
    border-bottom: 3px solid #2C2D5B;
    background: transparent;
  }
  
  .wave-group .input:focus {
    outline: none;
  }
  
  .wave-group .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
  }
  
  .wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
  }
  
  .wave-group .input:focus ~ label .label-char,
  .wave-group .input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
  }
  
  .wave-group .bar {
    position: relative;
    display: block;
    width: 320px;
  }
  
  .wave-group .bar:before,.wave-group .bar:after {
    content: '';
    height: 4px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #DE6600;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .wave-group .bar:before {
    left: 50%;
  }
  
  .wave-group .bar:after {
    right: 50%;
  }
  
  .wave-group .input:focus ~ .bar:before,
  .wave-group .input:focus ~ .bar:after {
    width: 50%;
  }
  
  .btnLogin{
    width: 25%;
    background-color: #DE6600;
    padding: 8px 5px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
  }

  h2{
    color: #2C2D5B;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
  }