@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #FFFFFF;
    overflow-x: hidden;
    margin: 0;

}

.nav {
  width: 100%;
  height: 100%;
  --s: 180px;
  --c1: rgba(210, 210, 210);
  --c2: rgba(268, 268, 268);
  --c3: rgba(230, 230, 230);

  --_g: var(--c3) 0 120deg, #0000 0;
  background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
    conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
    conic-gradient(
      from 60deg at calc(200% / 3),
      var(--c3) 60deg,
      var(--c2) 0 120deg,
      #0000 0
    ),
    conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
    linear-gradient(
      90deg,
      var(--c1) calc(100% / 6),
      var(--c2) 0 50%,
      var(--c1) 0 calc(500% / 6),
      var(--c2) 0
    );
  background-size: calc(1.732 *  var(--s)) var(--s);
  position: relative;
  z-index: 1;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.304);
}


.background {
    background-image: url(images/background-icons.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 6px; 
  }

  ::-webkit-scrollbar-thumb {
    background-color: #DE6600; 
    border-radius: 6px; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #ff7700; 
  }

  ::selection {
    background-color: #2C2D5B; /* Cor laranja */
    color: #fff; /* Cor do texto */
}

span::selection{
    color: #DE6600; /* Cor do txto */
}

#idEmail::placeholder{
  color: black;
  font-weight: 400;
}

#textAreaMensagem::placeholder{
  color: black;
  font-weight: 400;
}

#idEmail::selection{
  background-color: #DE6600;
  color: #fff;
}

#textAreaMensagem::selection{
  background-color: #DE6600;
  color: #fff;
}

#textAreaMensagem{
  resize: none;

}


.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C2D5B;
  height: 60vh;
  
}

.mainFooter{
  display: flex;
  width: 80%;
  height: 100%;
 
  flex-direction: column;
}

.containerFooter{
  width: 30%;
  display: flex;
  height: 100%;
  border-bottom: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.sessaoFooterCima{
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: center;
  align-items: center;
}

.sessaoFooterBaixo{
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: center;
  align-items: center;
}

.containerFooter h1{
  font-size: 20px;
}





/* ------------------------------------------------------------------------------------------------ */






ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}
