@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #FFFFFF;
    overflow-x: hidden;
    margin: 0;
}

span::selection{
  color: #DE6600; /* Cor do txto */
}

#idEmail::placeholder{
color: black;
font-weight: 400;
}

#textAreaMensagem::placeholder{
color: black;
font-weight: 400;
}

#idEmail::selection{
background-color: #DE6600;
color: #fff;
}

#textAreaMensagem::selection{
background-color: #DE6600;
color: #fff;
}

#textAreaMensagem{
resize: none;

}

