.button {
    background-color: #DE6600;
    border: none;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  
  .button:hover {
    background-image: url(https://img.freepik.com/vetores-premium/uma-estrada-reta-vazia-cidade-no-horizonte-ilustracao-vetorial_174639-40735.jpg);
    background-color: #DE6600;
    background-size: cover;
    background-position: center;
  }
  
  .button:hover .motoqueiro {
    animation: moverMotoqueiro 1s linear; /* Movemos a definição da animação para o hover */
  }

  .button:hover h1{
    text-shadow: 1px 1px #DE6600;
  }
  
  .motoqueiro {
    width: 45px;
    height: 45px;
    background-image: url(../../images/motoqueiro-btn.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    position: absolute;
    left: -50%;
    margin-top: 10%;
    scale: 1;
  }
  
  @keyframes moverMotoqueiro {
    0% {
      left: -50%;
    
    }
    100%{
      left: 100%;
    }
    
  }

  .li {
    position: relative;
    cursor: pointer;
  }
  
  .li:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #DE6600;
    animation: animacaoUnderline 0.2s ease forwards;
  }
  
  @keyframes animacaoUnderline {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  
  