.tela-colab{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 1px solid #00000094;
}

.titulo-sessao{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.titulo-sessao h1{
    font-size: 1.2rem;
    color: #DE6600;
    font-weight: 600;
}

.titulo-sessao h1{
    margin: 0 5.5%;
}

.container-sessao{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: top;
}

.foto-colaborador{
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: top;
}

.foto-colaborador svg{
    margin-top: 15%;

}

.form-colaborador{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sessao-form{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}


